/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Body */
.home-body {
    position: relative;
    min-height: 100vh;
    padding: 20px;
    background-color: #f8f8f8;
    background-image: url("hood_home.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

.hometext1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Playfair Display', serif;
    color: aliceblue;
    z-index: 3;
    padding: 20px;
    gap: 20px;
    animation: slide-in-left 2.5s ease-out forwards;
    animation-delay: 0.3s;
    font-size: clamp(1rem, 5vw, 3rem);
    text-align: start;
}

h1 {
    font-weight: bold;
    text-align: left;
}

.shape {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(50% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
    pointer-events: none;
    opacity: 0.95;
}

.shape.top-left {
    background-color: #2e201a;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    top: 20px;
    left: 20px;
    border-radius: 20px;
    transform: translateX(-100%);
    animation: slide-in-left 2.5s ease-out forwards;
}

.shape.bottom-right {
    background-color: #2e201a;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    bottom: 20px;
    left: 20px;
    border-radius: 20px;
    transform: translateX(100%);
    animation: slide-in-right 2.5s ease-out forwards;
}

/* teine leht */
.more-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    min-height: 100vh;
    width: 100%;
    border-top: 2px solid #C0A897;
    background-color: #2e201a;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.more-content > div {
    flex: 1;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
    margin: 20px;
    opacity: 0; 
    transform: translateY(50px); /* Start slightly below */
    transition: opacity 2s ease-out, transform 2s ease-out;
}

/* Left to Right */
.more-content > div:nth-child(odd) {
    transform: translateX(-50px);
}

/* Right to Left */
.more-content > div:nth-child(even) {
    transform: translateX(50px);
}

.more-content > div.show {
    opacity: 1;
    transform: translateX(0) translateY(0);
}


.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 1px solid #C0A897;
}

.back-pic {
    min-width: 50vw;
    min-height: 100vh;
    background-image: url('mobileviewtaust.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.much-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #C0A897;
    font-family: 'Playfair Display', serif;
}

.much-content h4 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.secondpagetext {
    font-family: 'Playfair Display', serif;
    color: aliceblue;
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bold;
}

/* Animations */
@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
